</head>
    <body>

        <nav>
            <a class="button button-clear" href="/"><h2 id="title-header">Mongoose-R-Us</h2></a>
            <a class="button button-clear" id="add-btn" href="/products/new">New Mongoose <i class="fas fa-plus"></i></a>
        </nav>