<%- include('./partials/header') %>

<form action="/products" method="POST">
    <fieldset>
      <label for="nameField">Name</label>
      <input type="text" name="name" id="nameField">
      <label for="priceField">Price</label>
      <input type="number" name="price" id="priceField">
      <input type="number" name="qty" value="1" id="qtyField" hidden>
      <label for="commentField">Description</label>
      <textarea placeholder="What are they like...?" name="description" id="commentField"></textarea>
    </fieldset>
    <button type="submit">Submit</button>
  </form>

<%- include('./partials/footer') %>