img {
    width: 300px;
}

html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.btn-container {
    margin-top: 1rem;
    display: flex;
}

div.form-container {
    width: 75%;
}

nav {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}