img {
    width: 300px;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin-top: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    background-color: whitesmoke;
    border: 2px solid oldlace;
    padding: 2rem;
}

div.btn-container {
    display: flex;
    margin-top: 1rem;
}

div.form-container {
    width: 75%;
}

nav {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    position: absolute;
    top: 0;
    width: 100%;
}

#add-btn {
    margin-top: .2rem;
}

div.desc-container {
    margin: 1rem 3.3rem 0 3.3rem;
    background-color: white;
    padding: 1rem 1rem 0 1rem;
}


@media only screen and (max-width: 700px) {
    div.btn-container {
        flex-direction: column;
        padding-bottom: 0;
        margin-bottom: 1rem;
    }

    div.container {
        width: 90%;
    }
}

